node_modules

.bun
bun.lock
bun.lockb

.next
out

.env
.env.*
!.env.local

npm-debug.log*
yarn-debug.log*
bun-debug.log*
*.log

.DS_Store
.vscode
.idea
.github

.git
.gitignore

.agents
.claude
components.json
skills-lock.json
CLAUDE.md 
AGENTS.md

.convex
convex.json
generateKeys.mjs
