NEXT_TELEMETRY_DISABLED=1
CONVEX_DEPLOYMENT=dev:aaaaaaaa-aaaaaaa-aaa
NEXT_PUBLIC_CONVEX_URL=https://aaaaaaaa-aaaaaaa-aaa.eu-west-1.convex.cloud
NEXT_PUBLIC_CONVEX_SITE_URL=https://aaaaaaaa-aaaaaaa-aaa.eu-west-1.convex.site
RESEND_API_KEY=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa